/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
.rights {
    width: 100%;
    justify-content: space-evenly;
    padding: 0.8rem;
    /*background-color: aqua;*/
}

.rights_title {
    display: none;
    font-weight: 550 !important;
    color: var(--primary-font-color) !important;
}

.rights_icon {
    font-size: 1.6rem !important;
    margin-right: 0.5rem;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Mobile------------------------                         */
@media screen and (min-width:360px) {
    .rights_title {
        display: flex;
    }
}