/*                              ----------------------                                   */
.div_horizontal_positioning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
.rights {
    width: 100%;
    justify-content: space-evenly;
    padding: 0.8rem;
    /*background-color: aqua;*/
}

.rights_title {
    font-weight: 550 !important;
    color: var(--primary-font-color) !important;
}

/* .rights_text {
    font-family: var(--font-family-1);
} */