/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.skills_container {
    width: 100%;
    margin-bottom: 3.2rem;
    /*background-color: azure;*/
}

.skills_container_title {
    width: 100%;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.skills_advance_container {
    width: 100%;
}