/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.skills_container {
    width: 100%;
    margin-bottom: 2.7rem;
    /*background-color: azure;*/
}

.skills_container_title {
    width: 100%;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.skills_advance_container {
    width: 100%;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:768px) {
    .skills_tilte {
        margin-top: -0.6rem !important;
    }
}

/*                   ------------------------Desktop------------------------                         */
@media screen and (min-width:1200px) {
    .skills_container {
        margin-bottom: 3rem;
    }
}