/*                              ----------------------                                   */
.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.technology {
    width: 100%;
}

.technology_title {
    padding: 1.6rem 2rem 1.4rem !important;
}

.technology_icon {
    color: var(--second-color-icon) !important;
    font-size: 1.8rem !important;
}

.technology_phrase {
    margin-bottom: 1.4rem !important;
}

.technology_projects {
    font-size: 1.7rem;
    color: var(--primary-font-color);
    line-height: 1.57;
    font-weight: 550 !important;
}

.technology_content {
    padding: 0rem 2rem 1.6rem !important;
}

/*-----------------------------------*/
@media screen and (min-width:390px) {
    .technology_projects {
        font-size: 1.76rem;
    }

    .technology_title {
        padding: 1.6rem 2rem 1rem !important;
    }
}