/*                              ----------------------                                   */
.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.hobbies_container {
    width: 100%;
    /*background-color: azure;*/
}

.hobbies_title {
    margin-bottom: 1.4rem !important;
}