/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.hobbies_container {
    width: 100%;
    margin-bottom: 3.2rem;
    /*background-color: azure;*/
}

.hobbies_container_title {
    width: 100%;
    justify-content: center;
    margin-bottom: 1.4rem;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Desktop------------------------                         */
/*@media screen and (min-width:1200px) {
    .hobbies_container_title {
        justify-content: flex-start;
    }
}*/