/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.resume {
    width: 100%;
    margin-bottom: 2rem;
}

.resume_container_title {
    width: 100%;
    margin-bottom: 0.6rem;
}

.resume_container_paragraph {
    width: 100%;
}

.highlight {
    font-weight: 550;
    color: var(--primary-font-color);
}

.resume_details_paragraph {
    text-align: center;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:768px) {
    .resume_details_paragraph {
        text-align: start;
    }
}