/*                              ----------------------                                   */
.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.personal_details {
    width: 100%;
    margin-bottom: 1.2rem;
    /*background-color: aqua;*/
}

.personal_details_title {
    font-weight: 500;
    /*background-color: aqua;*/
}

.greeting_tilte {
    margin-bottom: 0.6rem !important;
}

.detalis_tilte {
    margin-bottom: 1.4rem !important;
}

.personal_details_paragraph {
    width: 100%;
    margin-bottom: 2.2rem !important;
    text-align: center;
}