/*                              ----------------------                                   */
.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.div_horizontal_positioning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.personal_details {
    width: 100%;
    margin-bottom: 1.2rem;
    /*background-color: aqua;*/
}

.container_title {
    width: 100%;
    margin-bottom: 0.6rem;
    justify-content: center;
}

.container_details_title {
    width: 100%;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.container_paragraph {
    width: 100%;
    margin-bottom: 2rem;
}

.highlight {
    font-weight: 550;
    color: var(--primary-font-color);
}

.personal_details_paragraph {
    text-align: center;
}