/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.container_title {
    width: 100%;
    justify-content: center;
}

.title {
    width: auto;
}