/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.summary {
    width: 100%;
}

.summary_container_title {
    width: 100%;
    margin-bottom: 0.6rem;
    justify-content: center;
}

.summary_container_paragraph {
    width: 100%;
    margin-bottom: 2.2rem;
}

.summary_paragraph {
    text-align: center;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:768px) {
    .summary_paragraph {
        text-align: start;
    }
}