:root {
  --font-family-1: 'Roboto', helvetica, arial, sans-serif;
  --font-family-2: 'Roboto', 'Times New Roman', Times, serif;
  --font-family-3: 'DM Sans', sans-serif;
  --generic-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', "Ubuntu Monospace",
    'Fira Mono', 'Droid Sans Mono', Helvetica Neue, sans-serif;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 1px 1px -3px rgba(0, 0, 0, 0.13), 0 2px 6px 2px rgba(0, 0, 0, 0.05);
  --basic-border-radius: 0.8rem;
  --small-border-radius: 0.4rem;
  --half-border-radius: 2rem;
  /* ------- Sections ------- */
  --first-section-background-color: rgba(31, 35, 38, 0.95);
  --second-section-background-color: #25262a;
  --third-section-background-color: #1f2124;
  /* ------- Sections ------- */
  /* ------- Cards ------- */
  --first-card-background-color: #252a30;
  --second-card-background-color: #2d2e32;
  --third-card-background-color: #3e4144;
  /* ------- Cards ------- */
  /* ------- Modals ------- */
  --modal-mask-card: rgba(0, 0, 0, 0.288);
  --modal-background-card: #111111;
  /* ------- Modals ------- */
  /* ------- Imputs ------- */
  --imputs-background-color: #797979a1;
  --dialog-background-color: linear-gradient(to left bottom, #252a30d4, #272b31, #282b31de, #2a2c32, #2b2d32, #2a2c31, #292a2f, #28292e, #25262b, #212227, #1e1f24de, #1b1c21);
  /* ------- Imputs ------- */
  /* ------- Icons ------- */
  --firt-color-icon: #d7d8da;
  --second-color-icon: #1bb699;
  /* ------- Icons ------- */
  /* ------- Borders ------- */
  --primary-background-border: #1bb695;
  --secondary-background-border: rgba(24, 57, 54, 0.788);
  --third-background-border: #1f462f;
  /* ------- Borders ------- */
  /* ------- Fonts ------- */
  --primary-font-color: #f9fdfe;
  --second-font-color: #f3f3f3f1;
  --third-font-color: #797979;
  /* ------- Fonts ------- */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: var(--generic-font-family);
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}