/*-----------------------------------*/
.header {
    width: 100%;
    height: 38.2rem;
    background-image: url("../../../public/images/bg_header.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-color: antiquewhite;*/
}