/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.hobby_card {
    width: 8.6rem;
}

.hobby_title_container {
    justify-content: center;
}

.hobby_card_title {
    font-size: 1.4rem !important;
    line-height: normal !important;
}

.hobby_icon_container {
    padding: 1.2rem 2rem;
    justify-content: center;
}

.hobby_card_content {
    padding: 0rem 2rem 1.6rem 2rem !important;
}

.hobby_icon {
    font-size: 2.2rem !important;
    color: var(--second-font-color);
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Mobile------------------------                         */
@media screen and (min-width: 360px) {
    .hobby_card {
        width: 9.7rem;
    }

    .hobby_icon_container {
        padding: 1.45rem 2rem;
    }
}

@media screen and (min-width: 375px) {
    .hobby_card {
        width: 9.8rem;
    }
}

@media screen and (min-width: 390px) {
    .hobby_card {
        width: 10.5rem;
        height: 8.6rem;
    }

    .hobby_card_title {
        font-size: 1.44rem !important;
    }

    .hobby_icon {
        font-size: 2.34rem !important;
    }
}

@media screen and (min-width: 400px) {
    .hobby_card {
        width: 10.9rem;
        height: 8.9rem;
    }

    .hobby_card_title {
        font-size: 1.45rem !important;
    }

    .hobby_icon {
        font-size: 2.4rem !important;
    }
}

@media screen and (min-width: 540px) {
    .hobby_card {
        width: 10.8rem;
    }

    .hobby_card_title {
        font-size: 1.47rem !important;
    }

    .hobby_icon {
        font-size: 2.5rem !important;
    }
}

/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width: 600px) {
    .hobby_card {
        width: 10.9rem;
        height: 9rem;
    }

    .hobby_card_title {
        font-size: 1.5rem !important;
    }

    .hobby_icon {
        font-size: 2.6rem !important;
    }
}

@media screen and (min-width: 768px) {
    .hobby_card {
        width: 8.4rem;
        height: 7.6rem;
    }

    .hobby_icon_container {
        padding-top: 1.1rem;
        padding-bottom: 1.3rem;
    }

    .hobby_icon {
        font-size: 2.3rem !important;
    }
}

@media screen and (min-width: 800px) {
    .hobby_card {
        width: 8.6rem;
        height: 7.8rem;
    }
}

@media screen and (min-width: 834px) {
    .hobby_card {
        width: 8.8rem;
    }
}

@media screen and (min-width: 884px) {
    .hobby_card {
        width: 9.2rem;
        height: 8rem;
    }

    .hobby_icon_container {
        padding-top: 1.2rem;
        padding-bottom: 1.4rem;
    }
}

@media screen and (min-width: 1114px) {
    .hobby_card {
        width: 9.7rem;
        height: 8.3rem;
    }

    .hobby_icon_container {
        padding-top: 1.3rem;
    }

    .hobby_icon {
        font-size: 2.4rem !important;
    }

    .hobby_card_title {
        font-size: 1.54rem !important;
    }
}

/*                   ------------------------Desktop------------------------                         */
@media screen and (min-width: 1280px) {
    .hobby_card {
        width: 9.5rem;
    }
}