/*                              ----------------------                                   */
.div_horizontal_positioning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.hobby_card {
    width: 9.8rem;
}

.hobby_title_container {
    justify-content: center;
}

.hobby_card_title {
    font-size: 1.4rem !important;
    line-height: normal !important;
}

.hobby_icon_container {
    padding: 1.45rem 2rem;
    justify-content: center;
}