/*                              ----------------------                                   */
.div_horizontal_positioning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.advance_container {
    width: 100%;
    gap: 0.3rem;
    /* background-color: bisque;*/
}

.advance_base_progress {
    width: 5.2rem !important;
    height: 5.2rem !important;
}

.advance_progress {
    color: var(--second-color-icon) !important;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.advance_wrapper_image_progress {
    position: relative;
}

.advance_wrapper_progress {
    position: relative;
}

.advance_image_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.62rem;
    justify-content: center;
}

.advance_image {
    width: 3.2rem;
    height: 3.2rem;
}

.advance_nextjs_image {
    width: 4rem;
    height: 4rem;
}

.advance_express_image {
    width: 2.7rem;
    height: 2.7rem;
}

.advance_text_container {
    width: 100%;
    justify-content: center;
}

/*.advance_text {
}*/

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
@media screen and (min-width:375px) {
    .advance_base_progress {
        width: 5.4rem !important;
        height: 5.4rem !important;
    }
}

@media screen and (min-width:390px) {
    .advance_base_progress {
        width: 5.7rem !important;
        height: 5.7rem !important;
    }
}