/*                              ----------------------                                   */
.div_horizontal_positioning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.contact {
    width: 100%;
    /*background-color: turquoise;*/
}

.contact_container_title {
    width: 100%;
    margin-bottom: 0.6rem;
    justify-content: center;
}

.contact_container_paragraph {
    width: 100%;
    margin-bottom: 2.2rem;
}

.contact_paragraph {
    text-align: center;
}

.column {
    width: 100%;
}

.contact_icon_container {
    width: 100%;
    justify-content: flex-start;
    gap: 1.5rem;
    /*background-color: aqua;*/
}

.contact_text_container {
    align-items: flex-start;
    /*background-color: blue;*/
}