/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.project_card {
    background-color: var(--second-card-background-color) !important;
}

.project_card_link_container {
    width: 100%;
    height: 100%;
}

.project_card_image {
    width: 100%;
    object-fit: cover;
}

.project_card_content {
    padding: 0.6rem 1.2rem 0rem 1.2rem !important;
}

.project_card_actions {
    padding: 0.2rem 1.2rem 1rem 1.2rem !important;
}

.project_card_name_container {
    width: 100%;
}

.project_card_name {
    font-weight: 550 !important;
}

.project_progress_container {
    width: 100%;
    gap: 0.5rem;
}

.project_progress_icon {
    position: relative;
}

.project_base_progress {
    width: 1.56rem !important;
    height: 1.56rem !important;
}

.project_progress {
    color: var(--second-color-icon) !important;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.project_progress_text_container {
    width: 100%;
}

.project_progress_text {
    line-height: 1.57 !important;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Mobile------------------------                         */
@media screen and (min-width:360px) {
    .project_card_image {
        height: 11rem;
    }
}

@media screen and (min-width:390px) {
    .project_card_image {
        height: 11.6rem;
    }

    .project_card_actions {
        padding: 0.4rem 1.2rem 1rem 1.2rem !important;
    }
}

@media screen and (min-width:400px) {
    .project_card_image {
        height: 11.8rem;
    }
}

@media screen and (min-width:540px) {
    .project_card_image {
        height: 10rem;
    }
}

/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:600px) {
    .project_card_image {
        height: 12rem;
    }
}