/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
.footer {
    width: 100%;
    background-color: var(--third-section-background-color);
    padding: 0rem 2.4rem 1rem;
}

.wrapper {
    width: 100%;
    /*background-color: antiquewhite;*/
}

.footer_contact {
    width: 100%;
    margin-bottom: 2.7rem;
    /*background-color: blueviolet;*/
}

.footer_rights {
    width: 100%;
    border-radius: var(--small-border-radius);
    background-color: var(--second-section-background-color);
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Mobile------------------------                         */
@media screen and (min-width:540px) {
    .footer {
        padding: 0rem 3.2rem 1rem;
    }
}

/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:768px) {
    .footer {
        padding: 0rem 3.6rem 1rem;
    }
}

@media screen and (min-width:800px) {
    .footer {
        padding: 0rem 4rem 1rem;
    }
}

@media screen and (min-width:1114px) {
    .footer {
        padding: 0rem 5.4rem 1rem;
    }
}

/*                   ------------------------Desktop------------------------                         */
@media screen and (min-width:1280px) {
    .footer {
        padding: 0rem 7rem 1rem;
    }
}