/*                              ----------------------                                   */
.div_vertical_positioning {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.div_horizontal_positioning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.web_parts_container {
    width: 100%;
    margin-bottom: 2.7rem;
    /*background-color: aquamarine;*/
}

.web_parts_container_title {
    width: 100%;
    margin-bottom: 1.1rem;
    justify-content: center;
}

.web_parts_technology_container {
    width: 100%;
}

.web_parts_column {
    width: 100%;
}