/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.navigation_container {
    width: 100%;
    padding: 1rem 1.6rem;
    justify-content: space-between;
    background-color: var(--first-section-background-color);
}

.navigation_row_links {
    width: 100%;
    justify-content: center;
    column-gap: 1.2rem;
}

.navigation_button {
    padding: 0rem 0rem 0rem 0.5rem !important;
}

.navigation_button_icon {
    font-size: 2.3rem !important;
    color: var(--second-color-icon);
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:768px) {
    .navigation_container {
        padding: 1rem 3.1rem;
    }
}

@media screen and (min-width:800px) {
    .navigation_container {
        padding: 1rem 4rem;
    }
}

@media screen and (min-width:1000px) {
    .navigation_container {
        padding: 1rem 4.6rem;
    }
}

@media screen and (min-width:1114px) {
    .navigation_container {
        padding: 1rem 5.4rem;
    }
}

/*                   ------------------------Desktop------------------------                         */
@media screen and (min-width:1200px) {
    .navigation_container {
        padding: 1rem 7rem;
    }
}

@media screen and (min-width:1360px) {
    .navigation_container {
        padding: 1rem 9rem;
    }
}