/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.navlink {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: var(--half-border-radius);
    justify-content: center;
}