/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.social_network_link {
    width: 2.3rem;
    height: 2.3rem;
    border: 0.1rem solid var(--firt-color-icon);
    border-radius: var(--half-border-radius);
    justify-content: center;
}

.social_network_icon {
    font-size: 1.5rem !important;
    color: var(--firt-color-icon);
}

.social_network_telegram_icon {
    font-size: 1.52rem !important;
}