/*                              ----------------------                                   */
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*                               --------------------                                   */
/*-----------------------------------*/
.aboutme {
    width: 100%;
    background-color: var(--second-section-background-color);
    padding: 0rem 2.4rem 5rem;
}

.aboutme_container_all {
    width: 100%;
}

.wrapper {
    width: 100%;
}

.wrapper_position {
    width: 100%;
}

.aboutme_personal_details {
    width: 100%;
}

.aboutme_hobbies {
    width: 100%;
}

.aboutme_button_wrapper {
    width: 100%;
}

/*                              ------------------------------------------------                                   */
/*                                                   MEDIA-QUERIES...                                              */
/*                              ------------------------------------------------                                   */
/*                                                                                                                 */
/*                   ------------------------Mobile------------------------                         */
@media screen and (min-width:500px) {
    .aboutme {
        padding: 0rem 3.2rem 5rem;
    }
}

/*                   ------------------------Tablet------------------------                         */
@media screen and (min-width:768px) {
    .aboutme {
        padding: 0rem 3.6rem 5rem;
    }

    .wrapper_position {
        flex-direction: row;
        align-items: flex-start;
    }

    .aboutme_personal_details {
        width: 48%;
        padding-right: 3.4rem;
    }

    .aboutme_hobbies {
        width: 52%;
    }
}

@media screen and (min-width:800px) {
    .aboutme {
        padding: 0rem 4rem 5rem;
    }
}

@media screen and (min-width:884px) {
    .aboutme_personal_details {
        width: 49%;
    }

    .aboutme_hobbies {
        width: 51%;
    }
}

@media screen and (min-width:1000px) {
    .aboutme {
        padding: 0rem 4.6rem 5rem;
    }

    .aboutme_personal_details {
        width: 50%;
    }

    .aboutme_hobbies {
        width: 50%;
        padding-left: 4rem;
    }
}

@media screen and (min-width:1114px) {
    .aboutme {
        padding: 0rem 5.4rem 5rem;
    }

    .aboutme_personal_details {
        padding-right: 8rem;
    }

    .aboutme_hobbies {
        padding-left: 6rem;
    }
}

/*                   ------------------------Desktop------------------------                         */
@media screen and (min-width:1200px) {
    .aboutme {
        padding: 0rem 7rem 5rem;
    }

    .aboutme_personal_details {
        padding-right: 8.8rem;
    }

    .aboutme_hobbies {
        padding-left: 3.5rem;
    }

    .aboutme_button_wrapper {
        width: auto;
        margin-right: 32rem;
    }
}

@media screen and (min-width:1360px) {
    .aboutme {
        padding: 0rem 9rem 5rem;
    }

    .aboutme_personal_details {
        padding-right: 10.5rem;
    }

    .aboutme_hobbies {
        padding-left: 6.5rem;
    }
}